.section {
  margin: 10px 0;
  background: white;
  box-shadow: 0 0 5px #ddd;
}

.section__subHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  flex-wrap: wrap;
  flex-grow: 1;
}

@media (max-width: 767 px) {
  .section__subHeader {
    flex-direction: column;
  }
}

.section__title {
  font-size: 20px;
}