.toDoList__form {
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

@media(max-width:767px) {
    .toDoList__form {
        grid-template-columns: 1fr;
    }
}

.toDoList__form--newTask {
    flex-basis: 75%;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.toDoList__form--taskButton {
    flex-grow: 1;
    background-color: teal;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    transition: 1s;
    cursor: pointer;
}

.toDoList__form--taskButton:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
    transition: 1s;
}

.toDoList__form--taskButton:active {
    background-color: hsl(180, 100%, 35%);
}