html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ececec;
}

.header {
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 5px;
}

.hide {
  display: none;
}