html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ececec;
}

.header {
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 5px;
}

.subHeader__button {
  background-color: white;
  color: teal;
  border: none;
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}

.subHeader__button:hover {
  color: hsl(180, 100%, 35%);
  transition: 1s;
}

.subHeader__button:active {
  color: hsl(180, 100%, 40%);
  transition: 1s;
}

.subHeader__button:disabled {
  color: #aaa;
  cursor: default;
}

.hide {
  display: none;
}