.subHeader__button {
    background-color: transparent;
    color: teal;
    border: none;
    font-size: 15px;
    padding: 10px;
    transition: color 0.3s;
}

.subHeader__button:hover {
    color: hsl(180, 100%, 35%);
}

.subHeader__button:disabled {
    color: #aaa;
    cursor: default;
}